@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Saira:wght@400;700&display=swap');

:root {
  --primary: #0a192f;
  --second: #8892b0;
  --decoration: #64ffda;
  --title: #ccd6f6;
  --hover_btn: #64ffdb17;
  --secondary: #112240;
}

.bg-primary {
  background-color: var(--primary);
}

.color__decoration {
  color: var(--decoration);
}

.item__menu {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 80px;
  text-align: center;
  color: var(--second);
}

.item__menu:hover {
  color: var(--decoration);
  transition: all 0.3s;
}

button {
  border-style: none;
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: var(--second);
}

.text-md {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: var(--second);
}

.btn-primary {
  border: 2px solid var(--decoration);
  box-sizing: border-box;
  border-radius: 50px;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: var(--hover_btn);
  transition: all 0.3s;
}

.icon {
  font-size: 30px;
  color: var(--title);
}

.icon:hover {
  color: var(--decoration);
}

.title__items {
  font-family: Saira;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;

  color: var(--title);
}

.  {
  width: 70%;
  height: 2px;
  background: var(--decoration);
}

.space-sm {
  height: 2rem;
}



/* change style element */

.el-tabs__item {
  color: var(--second) !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.el-tabs__item.is-active {
  color: var(--decoration) !important;
}

.el-tabs__active-bar {
  background-color: var(--decoration) !important;
}

.el-tabs__nav-wrap::after {
  background-color: var(--second);
}
