@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Saira:wght@400;700&display=swap');

:root {
    --primary: #0A192F;
    --second: #8892B0;
    --decoration: #64FFDA;
}

.bg-primary {
    background-color: var(--primary)
}

.color__decoration {
    color: var(--decoration);
}

.item__menu {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 80px;
    text-align: center;
    color: var(--second);
}

.item__menu:hover {
    color: var(--decoration);
    transition: all .3s;
}

button {
    border-style: none;
}